/* Base Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #f5f5f5;
  color: #333;
}

/* Header */
header {
  background-color: #111;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 1.5rem;
}

nav a {
  margin-left: 1rem;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

nav a:hover {
  color: #ffcc00;
}

/* Hero Section */
.hero {
  background: linear-gradient(to right, #e66465, #9198e5);
  color: white;
  text-align: center;
  padding: 3rem 1rem;
}

.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #a400bd;
  text-shadow: 1px 1px  10px #d0a8d6;
}

.hero p {
  font-size: 1.2rem;
  color: #a400bd;
   text-shadow: 1px 1px  10px #d0a8d6;
  font-size: 34px;
  font-weight: 600;
}

/* Product Sections */
.product-section {
  padding: 2rem 1rem;
}

.product-section h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.product-grid {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}
.product-grid a{
  color:#333333 ;
  text-decoration: none;

}

.product-card {
  background: white;
  border-radius: 8px;
  padding: 1rem;
  width: 200px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 1rem;
}

/* Footer */
footer {
  text-align: center;
  padding: 1rem;
  background-color: #222;
  color: #fff;
  margin-top: 2rem;
}

/* Responsive */
@media (max-width: 768px) {
  .product-grid {
    flex-direction: column;
    align-items: center;
  }

  header {
    flex-direction: column;
    gap: 1rem;
  }
}
