* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html {
  scroll-behavior: smooth;
}
body{
  color: #0000ff;

}
header {
  background-color: rgb(255, 0, 255);
  background-image: linear-gradient(rgb(110, 110, 255) , rgb(47, 255, 234));
  color: white;
  padding: 20px 0;
}

.container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 24px;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}
nav ul li a:hover {
  color: red;
  background-color: #0000ff;
  padding: 5px;

}
.ourproducts {
  font-size: 45px;
  text-shadow: 0 0 4px #000;
}


.hero {
  color: #ffffff;
  text-shadow: 0 0 4px #0000ff;  
  text-align: center;
  padding: 60px 20px;
  margin-bottom: 40px;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkbGpzcPdb2CRqxAs3iUI_Bq5YGa7yj-Gh42Br5dFVyFmEAVl8U6AX4i9RA1f6uUgdN9w&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
 }

.hero h4 {
  color:rgb(35, 16, 91);
  font-size: 45px;
  margin-bottom: 10px;
}
.hero p{
  color: rgb(35, 16, 91);
  font-size: 30px;
  margin-bottom: 30px;
}
.products {
  background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkbGpzcPdb2CRqxAs3iUI_Bq5YGa7yj-Gh42Br5dFVyFmEAVl8U6AX4i9RA1f6uUgdN9w&usqp=CAU);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 80px ;
  padding-top: 80px;
  padding-left: 60px;
  padding-right: 60px;
  margin-bottom: 50px;
  text-align: center;
}

.product-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
}

.product-card {
  background: rgb(196, 191, 191);
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  padding: 20px;
  width: 250px;
  transition: transform 0.3s;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-card img {
  width: 100%;
  height: 58%;
  border-radius: 8px;
}

.product-card h3 {
  margin-top: 10px;
  font-size: 20px;
}

.product-card p {
  font-size: 18px;
  color: #555;
}

.product-card button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #222;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.site-footer {
  display: flex;
  justify-content: space-between;
  align-items: middle;
  padding: 2rem;
  background-color: rgb(9, 252, 195);
  background-image: linear-gradient(to bottom left, rgb(79, 18, 133), rgb(50, 133, 154), rgb(44, 125, 223));
  color: #fff;
  flex-wrap: wrap;
}

.site-footer h3{
  color: #080808;
  text-shadow: 0 0 3px #0000ff;
}
.site-footer li,p{
  color: hsl(240, 100%, 19%);
}
.dsection1,
.dsection2 {
  flex: 1;
  padding: 1rem;
}

.dsection1 {
  text-align: left;
}

.dsection2 {
  text-align: left;
}
@media (max-width: 768px) {
  .site-footer {
    flex-direction: column;
    text-align: center;
  }

  .dsection1
  .dsection2 {
    text-align: center;
  }
}.footer-social {
  display: flex;
  gap: 1.2rem;
}

.footer-social a {
  color: whitesmoke;
  font-size: 1.5rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-social a:hover {
  color: #f40505;
  transform: scale(1.2);
}


